docker/tracker_dcs_stack/node-red/flows/hmp4040_flows.json
[{"id":"c56091a5.2ba238","type":"tab","label":"power control","disabled":false,"info":""},{"id":"762bcc86.cf1054","type":"mqtt in","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/status","qos":"2","datatype":"json","broker":"f5b1ac36.5f63b","nl":false,"rap":false,"inputs":0,"x":120,"y":140,"wires":[["6efbe6423814afdd","5b27d295f89e04af"]]},{"id":"5b27d295f89e04af","type":"change","z":"c56091a5.2ba238","name":"LV_ch1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].vreq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["7df0e4518194e67e","f16e4a32e359ae35"]]},{"id":"7df0e4518194e67e","type":"ui_gauge","z":"c56091a5.2ba238","name":"","group":"3eca9694ccdc7872","order":3,"width":0,"height":0,"gtype":"gage","title":"LV_hmp4040_Channel_1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":80,"wires":[]},{"id":"b610bfba96914d81","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/setv/1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":900,"y":80,"wires":[]},{"id":"f16e4a32e359ae35","type":"ui_slider","z":"c56091a5.2ba238","name":"","label":"ch_1","tooltip":"","group":"3eca9694ccdc7872","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":10,"step":1,"className":"","x":590,"y":140,"wires":[["b610bfba96914d81","f2c18d3b8c0f174c"]]},{"id":"6efbe6423814afdd","type":"change","z":"c56091a5.2ba238","name":"LV_ch2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2].vreq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["91dfead544a70e0a","52069e3440586583"]]},{"id":"91dfead544a70e0a","type":"ui_gauge","z":"c56091a5.2ba238","name":"","group":"3eca9694ccdc7872","order":6,"width":0,"height":0,"gtype":"gage","title":"LV_hmp4040_Channel_2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":200,"wires":[]},{"id":"52069e3440586583","type":"ui_slider","z":"c56091a5.2ba238","name":"","label":"ch_2","tooltip":"","group":"3eca9694ccdc7872","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":10,"step":1,"className":"","x":590,"y":280,"wires":[["f2c18d3b8c0f174c","d5febb603faabb12"]]},{"id":"f2c18d3b8c0f174c","type":"debug","z":"c56091a5.2ba238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"d5febb603faabb12","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/setv/2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":900,"y":300,"wires":[]},{"id":"f618b3c652de1631","type":"function","z":"c56091a5.2ba238","name":"","func":"var payload=msg.payload; //get payload\nif (payload==\"msg.payload[1].on\"){\n    return [msg,null];\n    \n}\nif (payload==\"msg.payload[1].off\"){\n    return [null,msg];\n    \n}\n\nif (payload==\"msg.payload[2].on\"){\n    return [msg,null];\n    \n}\nif (payload==\"msg.payload[2].off\"){\n    return [null, msg];\n    \n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["c2974e08fdc59579","d7efd221b0aaf323"],["acb285ddb62ecf6c"]]},{"id":"85f275a2662f53e1","type":"change","z":"c56091a5.2ba238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].on","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[1].off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":340,"wires":[["f618b3c652de1631"]]},{"id":"5d34bb06927a63cb","type":"change","z":"c56091a5.2ba238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2].on","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[2].off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["f618b3c652de1631"]]},{"id":"bd3337dd07de71a3","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/switch/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":1070,"y":380,"wires":[]},{"id":"c2974e08fdc59579","type":"ui_switch","z":"c56091a5.2ba238","name":"","label":"CH1: ON/OFF","tooltip":"","group":"3eca9694ccdc7872","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"flash_on","oncolor":"yellow","offvalue":"off","offvalueType":"str","officon":"flash_off","offcolor":"grey","animate":false,"className":"","x":800,"y":380,"wires":[["bd3337dd07de71a3"]]},{"id":"1ea0e762ce969cff","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/switch/2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":1070,"y":440,"wires":[]},{"id":"d7efd221b0aaf323","type":"ui_switch","z":"c56091a5.2ba238","name":"","label":"CH2: ON/OFF","tooltip":"","group":"3eca9694ccdc7872","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"flash_on","oncolor":"yellow","offvalue":"off","offvalueType":"str","officon":"flash_off","offcolor":"grey","animate":false,"className":"","x":800,"y":440,"wires":[["1ea0e762ce969cff"]]},{"id":"acb285ddb62ecf6c","type":"debug","z":"c56091a5.2ba238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":500,"wires":[]},{"id":"94e0b243d570a0a6","type":"mqtt in","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/status","qos":"2","datatype":"json","broker":"f5b1ac36.5f63b","nl":false,"rap":false,"inputs":0,"x":100,"y":380,"wires":[["85f275a2662f53e1","5d34bb06927a63cb"]]},{"id":"9d2516226cb76a8b","type":"change","z":"c56091a5.2ba238","name":"LV_ch3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3].vreq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["fbb66b277357d7db","3c5fbf61d79e7cec"]]},{"id":"fbb66b277357d7db","type":"ui_gauge","z":"c56091a5.2ba238","name":"","group":"52563d13.d3839c","order":3,"width":0,"height":0,"gtype":"gage","title":"LV_hmp4040_Channel_3","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":620,"wires":[]},{"id":"6c0b4d9aeae80730","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/setv/3","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":940,"y":660,"wires":[]},{"id":"3c5fbf61d79e7cec","type":"ui_slider","z":"c56091a5.2ba238","name":"","label":"ch_3","tooltip":"","group":"52563d13.d3839c","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":10,"step":1,"className":"","x":600,"y":700,"wires":[["6c0b4d9aeae80730","28c0e5cca505dabb"]]},{"id":"f6c9ae7656201a68","type":"change","z":"c56091a5.2ba238","name":"LV_ch4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[4].vreq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":720,"wires":[["b34f75f7c818bca8","8e69efe451d072c5"]]},{"id":"b34f75f7c818bca8","type":"ui_gauge","z":"c56091a5.2ba238","name":"","group":"52563d13.d3839c","order":6,"width":0,"height":0,"gtype":"gage","title":"LV_hmp4040_Channel_4","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":780,"wires":[]},{"id":"8e69efe451d072c5","type":"ui_slider","z":"c56091a5.2ba238","name":"","label":"ch_4","tooltip":"","group":"52563d13.d3839c","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":10,"step":1,"className":"","x":580,"y":840,"wires":[["e65ba5407231b63c","28c0e5cca505dabb"]]},{"id":"e65ba5407231b63c","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/setv/4","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":920,"y":840,"wires":[]},{"id":"e83593204d968694","type":"mqtt in","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/status","qos":"2","datatype":"json","broker":"f5b1ac36.5f63b","nl":false,"rap":false,"inputs":0,"x":140,"y":660,"wires":[["9d2516226cb76a8b","f6c9ae7656201a68","59e0899bda5456f7","fdb5f64a0f27792b"]]},{"id":"28c0e5cca505dabb","type":"debug","z":"c56091a5.2ba238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":760,"wires":[]},{"id":"764e8ed572816512","type":"function","z":"c56091a5.2ba238","name":"","func":"var payload=msg.payload; //get payload\nif (payload==\"msg.payload[3].on\"){\n    return [msg,null];\n    \n}\nif (payload==\"msg.payload[3].off\"){\n    return [null,msg];\n    \n}\n\nif (payload==\"msg.payload[4].on\"){\n    return [msg,null];\n    \n}\nif (payload==\"msg.payload[4].off\"){\n    return [null,msg];\n    \n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":980,"wires":[["25382fd62c7499d5","ec4fa7f5233fefb8"],["28c0e5cca505dabb"]]},{"id":"59e0899bda5456f7","type":"change","z":"c56091a5.2ba238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3].on","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[3].off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":960,"wires":[["764e8ed572816512"]]},{"id":"fdb5f64a0f27792b","type":"change","z":"c56091a5.2ba238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[4].on","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[4].off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1020,"wires":[["764e8ed572816512"]]},{"id":"d758ed42bfdcaa3c","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/switch/3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":950,"y":940,"wires":[]},{"id":"4379cedf75d3e77e","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hmp4040/cmd/switch/4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5b1ac36.5f63b","x":950,"y":1000,"wires":[]},{"id":"25382fd62c7499d5","type":"ui_switch","z":"c56091a5.2ba238","name":"","label":"CH3: ON/OFF","tooltip":"","group":"52563d13.d3839c","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"flash_on","oncolor":"yellow","offvalue":"off","offvalueType":"str","officon":"flash_off","offcolor":"grey","animate":false,"className":"","x":700,"y":940,"wires":[["d758ed42bfdcaa3c"]]},{"id":"ec4fa7f5233fefb8","type":"ui_switch","z":"c56091a5.2ba238","name":"","label":"CH4: ON/OFF","tooltip":"","group":"52563d13.d3839c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"flash_on","oncolor":"yellow","offvalue":"off","offvalueType":"str","officon":"flash_off","offcolor":"grey","animate":false,"className":"","x":700,"y":1000,"wires":[["4379cedf75d3e77e"]]},{"id":"f5b1ac36.5f63b","type":"mqtt-broker","name":"MQTT","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3eca9694ccdc7872","type":"ui_group","name":"HMP4040_ch1_ch2","tab":"48b344b7.f0736c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"52563d13.d3839c","type":"ui_group","name":"HMP4040_ch3_ch4","tab":"48b344b7.f0736c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"48b344b7.f0736c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]