docker/tracker_dcs_stack/node-red/flows/power_control.json
[{"id":"c56091a5.2ba238","type":"tab","label":"power control","disabled":false,"info":""},{"id":"762bcc86.cf1054","type":"mqtt in","z":"c56091a5.2ba238","name":"","topic":"/hv/status","qos":"2","datatype":"json","broker":"e5967564.2e4238","x":120,"y":380,"wires":[["fa44b953.56adc8"]]},{"id":"fa44b953.56adc8","type":"change","z":"c56091a5.2ba238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].vreq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["bbd6e2c8.ed8c48"]]},{"id":"bbd6e2c8.ed8c48","type":"ui_gauge","z":"c56091a5.2ba238","name":"","group":"7d0826bf.201e9","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"b822c8f9.7cefe8","type":"ui_slider","z":"c56091a5.2ba238","name":"","label":"slider","tooltip":"","group":"7d0826bf.201e9","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":410,"y":380,"wires":[["ba00933.043bd7","495a9884.430138"]]},{"id":"ba00933.043bd7","type":"debug","z":"c56091a5.2ba238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":380,"wires":[]},{"id":"495a9884.430138","type":"mqtt out","z":"c56091a5.2ba238","name":"","topic":"/hv/cmd/setv/0","qos":"2","retain":"","broker":"e5967564.2e4238","x":640,"y":480,"wires":[]},{"id":"e5967564.2e4238","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d0826bf.201e9","type":"ui_group","z":"","name":"HV","tab":"48b344b7.f0736c","order":2,"disp":true,"width":"6","collapse":false},{"id":"48b344b7.f0736c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
