docker/tracker_dcs_stack/node-red/flows/simple_hv_control.json
[{"id":"eed19f07.f71f58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"46180556.081644","type":"mqtt in","z":"eed19f07.f71f58","name":"","topic":"/hv/status","qos":"2","datatype":"json","broker":"f5b1ac36.5f63b","x":170,"y":180,"wires":[["96f893ea.5dd248"]]},{"id":"87011bdd.799f6","type":"debug","z":"eed19f07.f71f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":320,"wires":[]},{"id":"96f893ea.5dd248","type":"change","z":"eed19f07.f71f58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].vreq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["b46a930d.b3f928","2c7108e4.09eb38","3dc2578d.9afb2"]]},{"id":"b46a930d.b3f928","type":"ui_gauge","z":"eed19f07.f71f58","name":"","group":"c3818cd0.1faf3","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":460,"wires":[]},{"id":"2c7108e4.09eb38","type":"ui_slider","z":"eed19f07.f71f58","name":"","label":"slider","tooltip":"","group":"c3818cd0.1faf3","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":370,"y":480,"wires":[["87011bdd.799f6","c0443203.179008"]]},{"id":"c0443203.179008","type":"mqtt out","z":"eed19f07.f71f58","name":"","topic":"/hv/cmd/setv/0","qos":"","retain":"","broker":"f5b1ac36.5f63b","x":590,"y":580,"wires":[]},{"id":"3dc2578d.9afb2","type":"ui_chart","z":"eed19f07.f71f58","name":"","group":"c3818cd0.1faf3","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":610,"y":420,"wires":[[]]},{"id":"f5b1ac36.5f63b","type":"mqtt-broker","name":"MQTT","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c3818cd0.1faf3","type":"ui_group","name":"High Voltage","tab":"8ee3de8c.ef5718","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ee3de8c.ef5718","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
